<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Home in airbnb</title>
</head>
<body>
    <header>
        <h1>Register your house here </h1>
    </header>
    <main>
        <form action="/addHome" method="post">
            <input type="text" placeholder="Enter your name here " name="name"><br><br>
            <input type="email" placeholder="Enter your email here " name="email"><br><br>
            <input type="submit" value="submit">
        </form>
    </main>
</body>
</html>